#interactiveHeader{
    background-image: url('../img/myVision.png');
}
#demo-1 {
    background: transparent;
    color: #000000;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.25;
    font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.large-header {
    position: relative;
    width: 100%;
    background:transparent;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}



#main-title {
    position: absolute;
    /* margin: 0;
    padding: 0; */
    /* color: #f9f1e9; */
    text-align: center;
    top: 40%;
    left: 50%;
    font-style: italic;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase;
    font-size: 3.2em;
}

#main-title .thin {
    font-weight: 800;
    line-height: 1em;
}

#main-title .subtitle {
    font-size: 0.5em;
    font-weight: 150;
}

@media only screen and (max-width : 768px) {
    #main-title {
        font-size: 3em;
    }
}

/* This changes all the animations globaly */
:root {
    --animate-duration: 5s;
    --animate-delay: 0.9s;
}
